.settings-profile {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.fullname-form {
    margin-top: 40px;
}

.username-form {
    margin-top: 40px;
}

.description-form {
    margin-top: 40px;
}