.inputLine {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
}

.formMessage {
    width: 100%;
    display: inline-block;
    margin: 5px 10px;
}

input[type=submit] {
    visibility: collapse;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}