.fixed_button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.button_edit {
    background-color: none;
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    color: rgb(95, 95, 95);
    text-align: center;
    transition: background-color 0.2s;
    margin-left: 8px;
    background-color: rgb(245, 234, 222);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(73, 126, 224, 0.4);;
    animation: pulse 2s infinite;
}

.button_edit:hover {
    animation: none;
    background-color: rgba(189, 189, 189, 0.933);
}

.button_edit:active {
    animation: none;
    background-color: rgba(177, 175, 175, 0.933);
}

@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(73, 126, 224, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(73, 126, 224, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(73, 126, 224, 0);
    }
  }