.wrapper {
    display: flex;
    justify-content: space-between;
}

.inputForm {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.heh {
    height: 20rem;
    width: 80%;
    background-color:  transparent;
}