.footerChat {
    width: 90%;
    margin: 0 auto;
    min-height: 60px;
    padding: 10px 0;
    display: flex;
    justify-content: left;
}

.footerLeft {
    display: flex;
    justify-content: left;
    flex-grow: 1;
    max-width: 100%;
    background-color: white;
    border-radius: 20px;
}


.footerRight {
    display: flex;
    justify-content: right;
}