<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Kitty Messenger</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <meta name="viewport" content="width=device-width, user-scalable=no">

        <div class="chat-layout">

            <div class="header-chat">
                <div class="header-left">
                    <button class="button button-menu">
                        <span class="material-icons">menu</span>
                    </button>
                    <div class="messenger-info">
                        Kitty Messenger
                    </div>
                </div>
                <div class="header-right">
                    <button class="button  button-find">
                        <span class="material-icons">search</span>
                    </button>
                </div>
            </div>


            <div class="chats-list">
                <div class="chats-container">
                    <div class="chat-with-person">
                        <img class="avatar" src="images/kek.jpeg" alt="lol">
                        <div class="chat-information">
                            <div class="info-row">
                                <div class="title">
                                    Scary Kitty
                                </div>
                                <div class="last-message-meta">
                                    <div class="last-message-status">
                                        <span class="material-icons done_all">done_all</span>
                                    </div>
                                    <div class="last-message-time">
                                        10:56
                                    </div>
                                </div>
                            </div>
                            <div class="subtitle">
                                meeeew-mew MEEEEW!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="fixed_button">
                <button class="button button-edit">
                    <span class="material-icons">edit</span>
                </button>
            </div>
    </body>
</html>
