<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Chat with Scary Kitty!</title>
    </head>
    <body>


        
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <form class="form" action="/">
            <div class="message"></div>
            <input class="form-input" name="message-text" placeholder="Введите сообщение" type="text">
        </form>




    </body>
    <script src="./scripts/messages-page.js"></script>
</html>
