<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Chat with Scary Kitty!</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div class="message-layout">

            <div class="header-chat">
                <div class="header-left">
                    <button class="button button-back">
                        <span class="material-icons">arrow_back</span>
                    </button>
    
                    <div class="chat-info">
                        <img class="avatar" src="./images/kek.jpeg" alt="lol">
        
                        <div class="info">
                            <div class="chat-name">
                                <span class="kekw">
                                    Scary Kitty
                                </span>
                            </div>
                            <div class="chat-status">
                                online
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-right">
                    <button class="button  button-find">
                        <span class="material-icons">search</span>
                    </button>
                    <button class="button button-settings">
                        <span class="material-icons">more_vert</span>
                    </button>
                </div>

            </div>

            <div class="content-chat">
                <div class="message-container">
                    <!-- <div class="message">
                        <div class="message-wrap">
                            <span class="message-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </span>
                            <span class="message-time">
                                18:56
                            </span>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="footer-chat">
                <div class="footer-left">
                    <button class="button button-emoji">
                        <span class="material-icons">sentiment_satisfied</span>
                    </button>

                    <div class="input-line">
                        <form class="form-message" action="/">
                            <input class="form-input" name="message-text" placeholder="Enter your message" type="text" autocomplete="off">
                        </form>    
                    </div>

                    <button class="button button-attach">
                        <span class="material-icons">attach_file</span>
                    </button>
                </div>

                <div class="footer-right">
                    <button class="button button-send">
                            <span class="material-icons">send</span>
                    </button>
                </div>
            </div>

        </div>
    </body>
</html>
