.profileLayout {
    background-color: rgba(218, 212, 212, 0.479);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    height: 100vh;
}

.buttonLogout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.logout{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgba(189, 189, 189, 0.933);
    width: 12rem;
    height: 2rem;
}

.logout:hover {
    background-color: rgb(156, 156, 156);
    color: white;
}
