.button {
    background-color: none;
    background: none;
    /* background-color: white; */
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: rgb(95, 95, 95);
    text-align: center;
    transition: background-color 0.2s;
    /* cursor: pointer; */
}

.button-settings {
    margin-left: 5px;
}

.button-back {
    margin-right: 10px;
}

.button-edit {
    margin-left: 8px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(73, 126, 224, 0.4);;
    animation: pulse 2s infinite;
}

.button-back:hover,
.button-find:hover,
.button-settings:hover,
.button-menu:hover {
    background-color: rgba(189, 189, 189, 0.933);
}

.button-back:active,
.button-find:active,
.button-settings:active,
.button-menu:active {
    background-color: rgba(177, 175, 175, 0.933);
}

.button-send {
    margin-left: 8px;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.button-send:hover {
    background-color: rgb(156, 156, 156);
    color: white;
}

.button-emoji:hover,
.button-attach:hover {
    background-color: rgba(212, 212, 212, 0.933);
}

.button-emoji:active,
.button-attach:active,
.button-send:active {
    color: rgb(73, 126, 224);
}

.button-edit:hover {
    animation: none;
    background-color: rgba(189, 189, 189, 0.933);
}

.button-edit:active {
    animation: none;
    background-color: rgba(177, 175, 175, 0.933);
}


@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(73, 126, 224, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(73, 126, 224, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(73, 126, 224, 0);
    }
  }