html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.chat-layout {
    background-color: rgba(190, 187, 187, 0.479);
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    /* width: 100vw; */
}

.header-chat {
    height: 70px;
    align-items: center;
    background-color: #eeee;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.button-back {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}


.header-right {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-grow: 1;
}

.button-find {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.messenger-info {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: left;
    height: 50px;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 800;
}

.chats-list {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    /* width: 100%;
    height: 100%; */
}

.chats-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    margin-top: 10px;
    width: 100%;
}

.chat-with-person-wrap {
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-grow: 1; */
    /* justify-content: start; */
    /* border-bottom: 1px solid black;  */
    /* min-height: 100%; */
    /* margin: 10px 0px; */

    height: 70px;
    /* margin: 0 auto; */
    width: 100%;
}

.chat-with-person-wrap:hover {
    background-color: rgb(150, 150, 150);
    color: white;
}

.chat-with-person {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 10px 10px;
    justify-content: space-between;
    
    /* width: 100%; */
    /* padding: 5px 5px; */
}

.avatar {
    height: 50px;
    margin-right: 15px;
}

.chat-pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}


.chat-information {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info-row {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.message-time {
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
    /* text-align: right; */
    font-size: 9px;
}

.title-chat {
    font-size: 16px;
    font-weight: 600;
}

.last-message-wrap {
    max-width: 100%;
    /* flex-grow: 1; */
}

.last-message {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    max-width: 1200px;
    text-overflow: ellipsis;
}

.last-activity-date {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.meta-inf {
    display: flex;
    margin: 0 5px;
    align-items: center;
}

.message-time {
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
    /* text-align: right; */
    font-size: 9px;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    /* flex-grow: 1; */
    max-width: 100%;
}

.button {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: rgb(29, 26, 26);
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(150, 150, 150);
    color: white;
}

.chat-header-button {
    height: 30px;
    width: 30px;
    text-align: center;
}