.main {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputForm {
    border: none;
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.heh {
    border-radius: 10px;
    padding: 12px 12px;
    height: 20rem;
    width: 80%;
    background-color:  transparent;
    font-size: 20px;
}