.button {
    background-color: none;
    background: none;
    /* background-color: white; */
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: rgb(29, 26, 26);
    text-align: center;
    /* cursor: pointer; */
}

.button:hover {
    /* background-color: rgb(150, 150, 150); */
    color: blue;
}