.arrow_back {
    background-color: #8e24aa;
    color: white;
    border: 0;
    padding-right: 15px;
    flex-basis: 60px;
}

.search {
    background-color: #8e24aa;
    color: white;
    border: 0;
    padding-right: 10px;
    flex-basis: 60px;
    margin-left: 90%;
}

.more_vert {
    background-color: #8e24aa;
    color: white;
    border: 0;
    padding-right: 15px;
    flex-basis: 60px;
    margin-right: 0;
}

.button {
    background-color: none;
    background: none;
    /* background-color: white; */
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: rgb(29, 26, 26);
    text-align: center;
    /* cursor: pointer; */
}

.button:hover {
    /* background-color: rgb(150, 150, 150); */
    color: blue;
}