.chats-list {
    flex-grow: 1;
    background-color: rgba(175, 195, 199, 0.699);
    overflow-y: scroll;
    overflow-x: hidden;
}

.chats-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    /* margin-top: 10px; */
}