.chatsList {
    flex-grow: 1;
    background-color: rgba(175, 195, 199, 0.699);
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}